* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url(huh.jpg) no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow:
}
header {
    height: 20vh;
    border: 1px solid black;
    margin-bottom: 3vh;
    text-align: center;
    background-color: #dcf9ff;
    font-family: 'mine';
    margin-top: 10vh;
    font-size: 6vh;
}

aside {
    height: 55vh;
    width: 20vw;
    display: inline-block;
    background-color: hsl(190, 85%, 89%);
    vertical-align: top;
    font-family: 'payat';
    font-size: 10px;
}

section, article {
    padding: 10px;

}

.mid {
    display: inline-block;
    width: 55vw;
    vertical-align: top;
    font-family: 'payat';
}

footer {
    height: 10vw;
    border: 1px solid black;
    text-align: center;
    font-family: 'mine';
    
}

@font-face {
    font-family: 'mine';
    src: url(fonts/mine.ttf);
}

@font-face {
    font-family: 'payat';
    src: url(fonts/payat.otf);
}

@media screen and (max-width: 600px) {
    header {
        height: auto;
        padding: 10px;
    }

    aside, .mid {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    footer {
        height: auto;
        padding: 10px;
    }

}