* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white; 
    min-height: 100vh;
    overflow: hidden; 
}

header {
    height: 20vh;
    border: 1px solid black;
    margin-bottom: 3vh;
    text-align: center;
    background-color: #003366; 
    color: white; 
    font-family: 'mine';
    margin-top: 10vh;
    font-size: 6vh;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

aside {
    height: 55vh;
    width: 20vw;
    display: inline-block;
    background-color: hsl(190, 85%, 89%);
    vertical-align: top;
    font-family: 'payat';
    font-size: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

section, article {
    padding: 10px;
}

.mid {
    display: inline-block;
    width: 55vw;
    vertical-align: top;
    font-family: 'payat';
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.2); 
}

footer {
    height: 10vw;
    border: 1px solid black;
    text-align: center;
    font-family: 'mine';
    background-color: #003366; 
    color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.2);
}

@font-face {
    font-family: 'mine';
    src: url(fonts/Mangiola.ttf);
}



@media screen and (max-width: 600px) {
    header {
        height: auto;
        padding: 10px;
    }

    aside, .mid {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    footer {
        height: auto;
        padding: 10px;
    }
}

